
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Noto+Serif&family=Zilla+Slabwght@600&display=swap');
body{
  background-color:#f8f1f1;
  margin: 0;
}
.top-container{
  font-family: Zilla Slab;
  background-color:#f05454;
  height: 5vh;
  width: 100%;
  color: white;
  text-align: right;
  }
  #box1 {
    box-shadow: 6px 12px yellow;
}
  #profile-img{
    height: auto;
    width: 50%;
  }

  .download{
    margin-top: 0px;
    padding: 5px 30px 12px 10px;
  }
.container {
  width: 100%;
  height: 100%;

  /* flex */
  display: flex;
}
.left-container,
.right-container{
  overflow: hidden;
}
.left-container{
  font-family: Merriweather;
  background-color: #f05454;
  height: 100vh;
  width: 15%;
  color: #e8e8e8;
  padding: 10px;
  text-align: center;
}
.span{
  font-size: 3em;
}
.right-container{
font-family: Zilla Slab;
font-size:2em;
background-color:#e8e8e8;
color: #184d47;
/* flex */
flex-grow: 1;
padding: 10% 5% 5% 10%;

}
.left-bottom{
  text-align: left;
  padding: 10px 50px;
  font-weight: bold;
}
h1{
  margin-bottom: 0px;
  margin-top: 0px;
}
